body{
  overflow: hidden;
  display: flex;
  background-image: url(images/greyComp2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: grey;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: flex-end; /* moves to the right */
  /*text-align: right;*/
  font-weight: bold;
  font-size: 1.3em;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav li{
  float: right;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

nav a:link {
  color: #eeeeee;
}

nav a:visited {
  color: #eeeeee;

}

nav a:hover {
  color: #0D4F8B;
  /*colors tried
      698995
      778899
      f5f5dc
   */
}

header h1, header h2, header h3 {
  display: flex;
  color: #eeeeee;/*336699;*/
  text-shadow: 2px 2px 5px #000000;
  justify-content: center;
}

h1 {
  text-decoration: underline;
  text-decoration-color: #000000;
  padding-top: 5%;
  font-size: 2.5em;
}

h2 {
  justify-content: flex-start;
  margin-left: 1.2em;
  margin-bottom: 1.2em;
}

h3{
  text-indent: 8.5em;
}

header {

}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

img {
  height: 150px;
  width: 300px;
  margin-left: 2.5em;
}

p {
  font-weight: bold;
  color: #eeeeee;/*336699;*/
  text-shadow: 2px 2px 5px #000000;
  margin-left: 1.2em;
}

footer {
  }

#highlight{
  /*border-bottom: solid 5px #0D4F8B;*/
}

#wrapper {
  border: 5px solid #000000;
  display: flex;
  flex-direction: column;
  height: 96vh; /* viewport height */
  width: 100%;
  align-items: stretch;

}

/* Class start */

.flexRow { /* Used to row out details in a column flex display */
  display: flex;
  flex-direction: row;
  align-items: center; /* Centers height */
}
